In [1]:
# k: dönem sayısı, k > 1
# k dönemin sonundaki toplam getiri
# Rt(k) = ((Pt / Pt-1) * (Pt-1 / Pt-2) * .... * (Pt-k+1 / pt-k)) - 1
# Rt(k) = ((1 + Rt1) * (1 + Rt2) * ..... * (1 + Rtk)) - 1

In [2]:
import pandas as pd

In [3]:
data = pd.DataFrame({"Fiyat": [100, 111, 119.88, 117.49]})

In [4]:
data["Getiri"] = data.pct_change() * 100    # basit getiri (1 dönemlik)
data.head()

    Fiyat    Getiri
0  100.00       NaN
1  111.00  11.00000
2  119.88   8.00000
3  117.49  -1.99366

In [5]:
data["Getiri 3 Dönemlik"] = data["Fiyat"].pct_change(periods = 3) * 100    # 3 dönem sonundaki bileşik getiri
data.head()

    Fiyat    Getiri  Getiri 3 Dönemlik
0  100.00       NaN                NaN
1  111.00  11.00000                NaN
2  119.88   8.00000                NaN
3  117.49  -1.99366              17.49